@import 'https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core@5/index.css';

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

input[type='text'] {
    font-size: 16px;
    width: 250px;
}
.hidden {
    display: none !important;
}

#branding {
    background-image: url(../resources/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 125px;
    /* margin-bottom: 0.5em; */
    width: 250px;
    z-index: 10;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

#route-selector-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 14px;
    background: lightgray;
    padding: 0.35em 0.5em;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    width: fit-content;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 28px - 1em);
}

#route-selector {
    overflow-y: auto;
}

#route-selector .jstree-anchor {
    width: unset !important;
}

#controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 10px;
}

#potree-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

#close-lidar-viewer-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    /* width: 10em;
    height: 10em; */
    z-index: 100;
}
#classification-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    list-style-type: none;
    margin: 5px;
    background: lightgray;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

#classification-container li:first-of-type {
    margin: 0.25em 0 0.25em 0;
    padding: 0.25em;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

#classification-container .invert {
    width: 100%;
    padding: 0.25em;
}

#map-container {
    /* position: absolute; */
    width: 100%;
    flex: 1 auto;
    /* left: 0px;
    top: 0px; */
}

.tool-menu {
    z-index: 10;
    display: flex;
    flex-direction: row;
    background: lightgray;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    gap: 10px;
}

.unfocus-button {
    border-radius: 0.5em;
    border: 1px solid black;
    background: lightgray;
    height: 50px;
    font-size: 1.5em !important;
}

.functionality-button {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    cursor: pointer;
}

.functionality-button i {
    font-size: 30px;
}

.functionality-button i:hover {
    color: green;
}

.esri-legend__service {
    display: flex;
    align-items: center;
}
.esri-legend__layer-table {
    margin-bottom: 0;
}
.esri-widget__heading {
    margin-bottom: 0;
}
.esri-legend__layer-cell {
    min-width: 0;
}
.esri-ui-corner .esri-component.esri-widget--panel {
    width: auto;
}
.feature-tab-container {
    width: 100%;
}
.esri-feature-table {
    height: 250px;
}

/* .esri-view-height-less-than-medium .esri-popup__main-container {
    max-height: 500px;
}
.esri-view-width-medium .esri-popup__main-container {
    width: 500px;
}‍‍‍‍‍‍ */
.esri-view-width-xlarge .esri-popup__main-container {
    width: 600px;
}
.esri-feature__content-node {
    flex-direction: row;
}
.esri-attachments__item-button {
    padding: 0;
}
.esri-feature__content-element:nth-of-type(2) {
    padding: 0;
}
